<div>Header Works</div>
<!-- <div class="card">
    <div class="class-header">{{pagetitle}}</div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/logo.png"/>
            </div>
            <div class="text_center">Developed By : </div>
            <div class="text_center">
                <h3>Wiley Edge</h3>
            </div>
            <div class="text_center">@Prajwal</div>
            <div class="text_center">
                <a href="https://www.wiley.com/en-in">Wiley Edge</a>
            </div>
        </div>
    </div>
</div> -->